.partners{
  @apply bg-gray-900 relative overflow-hidden md:pt-20 pt-5  md:pb-60 pb-16 w-full;
  h2{
    @apply lobster z-40 lg:text-7xl md:text-5xl text-3xl my-10 text-center text-gold;
  }
  .img1{
    @apply md:block hidden absolute top-10 left-[-30px] md:left-[-100px] md:z-30 md:w-80 w-20;
    animation: 12s shake infinite;
  }
  .img2{
    @apply absolute top-10 md:block hidden right-[-10px] md:right-[-100px] md:z-30 md:w-80  w-20;
    animation: 14s shake infinite;
  }
  .img3{
    @apply absolute rotate-3 md:block hidden bottom-0 md:right-[-80px] md:z-30 md:w-96  w-12;
    animation: 20s shake2 infinite;
  }
  .img4{
    @apply absolute md:block hidden bottom-0 md:left-[-100px] md:z-30 md:w-96  w-12;
    animation: 25s shake2 infinite;
  }
}




@keyframes shake {
  0% {
    transform: translate(0px, 0px) rotate(0deg);
    transform-origin:top;
  }
  10% {
    transform: translate(-1px, -2px) rotate(-5deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(3deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(8deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-3deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-8deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(3deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(0px, 0px) rotate(0deg);
  }
}

@keyframes shake2 {
  0% {
    transform: translate(0px, 0px) scale(1) rotate(0deg);
  }
  10% {
    transform: scale(1.2) rotate(-30deg);
  }
  20% {
    transform: translate(3px, 1px) scale(0.9) rotate(30deg);
  }
  30% {
    transform: scale(1.1) rotate(0deg);
  }
  40% {
    transform: scale(1.0) rotate(30deg);
  }
  50% {
    transform: scale(0.9) rotate(-30deg);
  }
  60% {
    transform: scale(1.1) rotate(0deg);
  }
  70% {
    transform: translate(3px, 5px) scale(0.9) rotate(-30deg);
  }
  80% {
    transform: scale(1) rotate(30deg);
  }
  90% {
    transform: scale(1.1) rotate(0deg);
  }
  100% {
    transform: translate(0px, 0px) scale(1) rotate(0deg);
  }
}