  .faq {
    @apply  block  md:px-7 md:py-5 px-4 py-2  w-full  ;
    border-radius: 0 30px;
    border: 2px solid #A42222;

    .question {
      @apply flex items-center  cursor-pointer md:gap-2 gap-1 justify-between;
      h5 {
        @apply text-gold font-bold  ;
      }

      .button {
        @apply relative  md:h-7 mt-0 md:w-7 h-4 w-4 p-4;

        &:before,
        &:after {
          @apply absolute bg-gold;
          content: "";
          transition: transform 0.3s ease;
        }

        &:before {
          @apply w-0.5 top-0 h-full left-1/2;
          margin-left: -1px;
        }

        &:after {
          @apply left-0 top-1/2 w-full h-0.5;
          margin-top: -1px;
        }
      }

      .button.active {
        &:before {
          transform: rotate(90deg);
        }

        &:after {
          transform: rotate(180deg);
        }
      }
    }

    .answer {
      @apply h-0;
      transition: all 0.3s linear;
    }

    .active {
      @apply  text-xl text-gray-500 mt-4 h-full block overflow-visible opacity-100;
      transition: all 0.5s linear;
    }

    .inactive {
      @apply  text-xl overflow-hidden h-0 opacity-20 ;
      transition: all 0.3s linear;
    }
  }

