.elka {
  @apply text-center mt-5 z-40 relative;
  .text {
    @apply text-center lg:text-lg text-sm figure-border text-white bg-green lg:p-8 md:p-6 px-6 py-4;
  }

  .prizeGrid {
    @apply grid my-2 grid-cols-2 gap-1 md:grid-cols-3 ;


    @for $i from 1 through 9 {
      $randomDuration: random() * 5 + 5;

      .ani#{$i} {
        img {
          animation: #{$randomDuration}s bounce infinite;
        }
      }
    }

    .prize {
      @apply py-4 px-10 m-auto bg-transparent transition-all relative;
      &:last-child{
        @apply col-span-2 md:col-span-1 md:w-full h-auto w-1/2;
        img{
          @apply m-auto md:w-full md:h-full ;
        }
      }
      &:hover {
        background: center radial-gradient(circle, rgba(255, 0, 0, .8) 0%, rgba(255, 0, 0, .1) 50%, rgba(255, 0, 0, 0) 70%);

        img {
          @apply shadow-red ;
          animation-play-state: paused;
        }
      }

      &.active {
        background: center radial-gradient(circle, rgba(255, 0, 0, .8) 0%, rgba(255, 0, 0, .1) 50%, rgba(255, 0, 0, 0) 70%);

        .prizeName {
          @apply visible bg-gold font-bold text-black ;
        }
      }

      &.inactive {
        .prizeName {
          @apply visible  text-white ;
        }
      }

      .prizeName {
        @apply absolute invisible md:leading-4 leading-4 md:text-sm text-xs flex justify-center items-center py-1 md:px-6 px-2 top-[50%] left-0 w-full h-20  bg-green ;
        border-radius: 0 50px;

      }

      img {
        @apply m-auto w-full h-full;
      }
    }


  }
.buttons{
  @apply grid md:grid-cols-2  grid-cols-1 items-center md:my-4 my-2 md:gap-6 gap-2;

  opacity: 0;
  height: 0;
  overflow: hidden;
  transform: translateY(-100%);
  animation: slideIn 1s ease-in-out 3s forwards;
}

}

@keyframes slideIn {
  to {
    opacity: 1;
    height: 180px;
    transform: translateY(0);
  }
}
@keyframes bounce {
  0% {
    transform: rotate(0deg);

  }
  //25% {
  //  transform: rotate(90deg) translate(-8px, -10px);
  //}
  //50% {
  //  transform: rotate(180deg) translate(10px, -10px);
  //}
  //75% {
  //  transform: rotate(270deg) translate(10px, 10px);
  //}
  100% {
    transform: rotate(360deg);
  }
}
