.loader {
  //background: red;
  //border: 2px solid gold;
  //@apply lobster;
  display: block;
  color: gold;
  position: absolute;
  top: calc(50% - 70px);
  left: calc(50% - 70px);
  padding: 25px;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  perspective: 800px;
  //
  //.wrapper {
  //  width: 100%;
  //  height: 100%;
  //  position: relative;
  //}
  .text{
    text-align: center;
    padding: 20px 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .inner {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: 50%;

    &.one {
      left: 0;
      top: 0;
      animation: rotate-one 1s linear infinite;
      border-bottom: 3px solid white;
    }

    &.two {
      right: 0;
      top: 0;
      animation: rotate-two 1s linear infinite;
      border-right: 3px solid white;
    }

    &.three {
      right: 0;
      bottom: 0;
      animation: rotate-three 1s linear infinite;
      border-top: 3px solid white;
    }

  }
}

///* Стиль для верхней части елочных украшений */
//
//.loader:before {
//  content: "";
//  background: #fff; /* Цвет фона, если градиент не поддерживается */
//  background: -moz-linear-gradient(left, #fff, #9c9c9c, #fff, #9c9c9c);
//  background: -webkit-gradient(linear, left center, right center, from(#fff), color-stop(25%, #9c9c9c), color-stop(50%, #fff), color-stop(75%, #9c9c9c));
//  -moz-border-radius: 2px;
//  border-radius: 2px;
//  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 -1px 0 rgba(255, 255, 255, 0.3) inset;
//  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 -1px 0 rgba(255, 255, 255, 0.3) inset;
//  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 -1px 0 rgba(255, 255, 255, 0.3) inset;
//  border: 1px solid #dadada;
//  height: 20px;
//  width: 30px;
//  position: absolute;
//  left: 50%;
//  top: -20px;
//  margin-left: -15px;
//}
//.loader:before:before{
//  content: "";
//  top: -40px;
//  background: #fff;
//  height: 20px;
//  width: 2px;
//}
//
//  /* Добавляем отражение света */
//
//.loader:after {
//  content: "";
//  -moz-border-radius: 100px;
//  border-radius: 100px;
//  background: #fff; /* Цвет фона, если градиент не поддерживается */
//  background: -moz-linear-gradient(bottom, #fff, rgba(255, 255, 255, 0.1));
//  background: -webkit-gradient(linear, left bottom, right top, from(#fff), color-stop(100%, rgba(255, 255, 255, 0.1)));
//  position: absolute;
//  top: 0%;
//  left: 50%;
//  margin-left: -80px;
//  opacity: 0.8;
//  height: 160px;
//  width: 160px;
//}




@keyframes rotate-one {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@keyframes rotate-two {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@keyframes rotate-three {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}